/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  --color-main: rgb(75, 22, 73);
  color: var(--color-main);
}

body {
  background-image: url("/img/giphy\ \(1\).gif");
background-size: cover;
  background-position: center;
}

button {
  background-color: white;
  color: var(--color-main);
  border: 2px solid rgb(106, 99, 104);
  padding: .3rem .6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: rgb(198, 162, 176) ;
}
button i {
  color: rgb(75, 41, 73);
pointer-events: none;
}
select,
input {
  padding: .25rem;
}

/* To-Do Header */

.todo-container {
  max-width: 500px;
  margin: 3rem auto 0;
  background-color: white;
  padding: .5rem;
  border-radius: 4px;
}

.todo-container header {
  text-align: center;
  padding: 0.1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* To-Do Form */
#todo-form, #edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;

}

#todo-form p, #edit-form p {
  margin-bottom: .5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.hide {display: none;}

.form-control input {
  margin-right: 1.3rem;

}

#cancel-edit-btn {
  margin-top: 1rem;

}

/* To-Do Toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: .5rem;
}

#search {
  border-right: 2px solid #ccc;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}
#search input { 
  width: 100%;
  margin-right: .5rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}
#filter select {
  flex: 1;
}

/* To-Do List */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  transition: .3s;

}

.todo h3 {
  flex: 1;
  font-size: .9rem;

}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background-color: rgb(204, 162, 198);

}

.done h3 {
  color: white;
  text-decoration: line-through;
  font-style: italic;
}